.componentArea {
  position: absolute;
  top: 10%;
  width: 12%;
  background-color: white;
  height: 90%;
}

.componentItem {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid rgb(187, 181, 181);
  border-radius: 4px;
  padding: 10px;
}

.componetGroup {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}